@import '../../theme/palette';

.container {
  display: flex;
  justify-content: center;
  background-color: $paletteColor3;
  flex-direction: row;
  height: 100%;

  .filterBlockWrap {
    float: left;
    width: auto;
  }

  .contentWrap {
    float: right;
    width: 1180px;
  }
}

