.container {
  display: flex;
  justify-content: center;
  order: 1;
  background-color: #adf3e0;

  /*.filterBlockWrap {
    float: left;
    width: 260px;
    margin-left: -100%;
    font-size: 13px;
    position: relative;
  }*/

  /*.contentWrap {
    position: relative;
    flex-direction: row;
    display: flex;
    vertical-align: baseline;
    font-size: 100%;

  }*/
}
