$paletteColor1: #000;
$paletteColor2: #FFF;
$paletteColor3: #adf3e0;
$paletteColor4: #f77a48;
$paletteColor5: #4ed2b2;
$paletteColor6: #57d9b5;
$paletteColor7: #44d9b2;
$paletteColor8: #E9EBEE;
$paletteColor9: grey;
$paletteColor10: #365899;

