@import '../../theme/palette';
@import '../../theme/devices';

.container {
  display: flex;
  flex-direction: row;
  top: 80px;
  color: #fff;
  opacity: 0.6;
  font-weight: 600;
  background-color: $paletteColor5;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;

  .startPage {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;

    h1 {
      font-weight: 700;
      font-size: 36px;
    }
    h3{
      font-weight: 700;
      font-size: 26px;
    }
  }
}

@media (min-width: $mobile) and (max-width: $laptop) {
  .container {

    .startPage {

      h1 {
        font-weight: 600;
        font-size: 24px;
      }

    }
  }
}

@media (max-width: $mobile) {
  .container {

    .startPage {

      h1 {
        font-weight: 400;
        font-size: 20px;
      }

    }
  }
}
